/* ---------- ESTILOS GENERALES ---------- */
:root {
    --accent: #6b3fa0;
    --muted: #6b6b6b;
    --card-bg: #fff;
    --radius: 14px;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    background: #f6f4fb;
    color: #222;
}

/* ---------- HEADER ---------- */
header {
    background: white;
    padding: 25px;
    border-bottom: 1px solid #ddd;
}

h1 {
    margin: 0;
    color: red;
    text-align: center;
    font-size: 70px;

}

/* ---------- GRID DE LUGARES ---------- */
.container {
    max-width: 1100px;
    margin: 25px auto;
    padding: 0 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 20px;
}

.card {
    background: var(--card-bg);
    border-radius: var(--radius);
    box-shadow: 0 6px 20px rgba(0,0,0,0.08);
    padding: 12px;
    transition: .3s;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: var(--radius);
}

.place-title {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

.meta {
    font-size: 14px;
    color: var(--muted);
    margin-bottom: 10px;
}

/* ---------- BOTONES ---------- */
.btn {
    padding: 8px 12px;
    display: inline-block;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
}

.btn-primary {
    background: rgb(182, 11, 11);
    color: white;

}

.btn-outline {
    border: 1px solid #ccc;
    color: var(--muted);
}

/* ---------- DETALLE ---------- */
.wrap {
    max-width: 900px;
    margin: 30px auto;
    padding: 20px;
}

.gallery img {
    width: 48%;
    height: 230px;
    object-fit: cover;
    border-radius: var(--radius);
    margin-bottom: 10px;
    cursor: pointer;

}

.actions {
    margin-top: 15px;
    display: flex;
    gap: 10px;
}

iframe {
    width: 100%;
    height: 350px;
    border: 0;
    border-radius: 14px;
    margin-top: 20px;

}

#hero {
    min-height: 100vh;
    position: relative;
}

video {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.capa {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1c1c1d;
    opacity: 0.5;
    mix-blend-mode: overlay;


}

.introduccion {
    padding-top: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    position: relative;
    z-index: 2;

}

button {
    display: inline-block;
    border: none;
    height: 50px;
    border-radius: 30px;
    padding: 10px 0;
    width: 200px;
    background-color: rgb(240, 240, 240);
    font-size: 1.8rem;
    color: #3f3f3f;
    font-weight: 800;
    transition: 150ms;
    margin-top: 40px;
}